[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/xtruan/hugo-classic
	branch = xtruan-blog
[submodule "static/projects/tub3ed"]
	path = static/projects/tub3d
	url = https://github.com/xtruan/tub3d-release
	branch = main
[submodule "static/projects/chessjs"]
	path = static/projects/chessjs
	url = https://github.com/xtruan/chessjs
[submodule "static/projects/blackjacktutorjs"]
	path = static/projects/blackjacktutorjs
	url = https://github.com/xtruan/blackjacktutorjs
